<app-main-nav></app-main-nav>
<div class="cotainer"  style="margin-bottom: 50px;margin-left: 15px;" >
  <div class="row">

    <div class="col-md-9  mt-4 ">

    <router-outlet></router-outlet>


    </div>
    <div class="col-md-3 mt-4">

      <app-category-menu></app-category-menu>
      <app-menu-article-most-view></app-menu-article-most-view>
      <app-menu-archives></app-menu-archives>
<app-menu-article-most-comment></app-menu-article-most-comment>
  </div>


</div>

<div class="mt-3">
  <app-footer-nav></app-footer-nav>
</div>





